.main__hero {
  height: 100dvh;
  padding-inline: var(--wrapper-space);
  padding-bottom: 10dvh;
  padding-top: 20dvh;
  background: var(--black);

  .hero__slider {
    h1 {
      font-family: var(--font-inter);
      font-style: normal;
      font-weight: 500;
      font-size: 96px;
      line-height: 100%;
      letter-spacing: -0.05em;
      color: var(--white);
    }

    span {
      font-family: var(--font-inter);
      font-weight: var(--w-medium);
      font-size: var(--f-large);
      color: var(--white);
    }

    p {
      font-family: var(--font-inter);
      font-weight: var(--w-regular);
      font-size: var(--f-medium);
      color: var(--white);
    }
  }
}
