.footer {
  background: var(--primary);
}
.footer {
  padding-inline: var(--wrapper-space);
  padding-top: 10rem;
}
.footer__head p {
  letter-spacing: -0.05em;
  color: var(--white);
  width: 80%;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
}
.footer__head {
  padding-bottom: 5rem;
  border-bottom: 1px solid #ffffff36;
}
.footer__main {
  padding-block: 5rem;
}
.footer__down span {
  font-family: "Inter";
  font-weight: var(--w-light);
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #ffffff;
}
.footer__down {
  display: flex;
  justify-content: space-between;
  padding-block: 3rem;
  border-top: 1px solid #ffffff36;
}
.main__logo p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.8);
}
.main__nav--item h4 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.05em;
  color: #fff;
  flex-grow: 0;
}
.main__nav--item a {
  color: var(--white);
  font-size: 24px;
  font-weight: var(--w-light);
}
.main__nav--item {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.main__nav--item h4 {
  margin-bottom: 0rem;
}
.main__logo--links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px;
  gap: 10px;
  width: 60px;
  height: 60px;
  left: 355px;
  top: 12927px;
  background: #ffffff;
  border-radius: 30px;
}
.main__logo--links a {
  color: var(--primary);
}
.main__logo--links {
  display: flex;
  grid-gap: 1rem;
  margin-top: 5rem;
}
.footer__main {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-gap: 2rem;
}
.main__nav {
  grid-template-columns: repeat(2, 1fr);
  place-self: flex-end;
  grid-gap: 2rem;
  display: grid;
}
.main__logo {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  height: 100%;

  img {
    width: 100%;
    filter: brightness(0) invert(1);
  }
}

.main__group {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}
