.header {
  .header__banner {
    background: var(--primary);
    padding-inline: var(--wrapper-space);
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;

    span {
      font-family: var(--font-inter);
      font-weight: var(--w-regular);
      font-size: var(--f-smallest);
      color: var(--white);
      grid-gap: 10px;

      a {
        font-family: var(--font-inter);
        font-weight: var(--w-medium);
        font-size: var(--f-smallest);
        color: var(--white);
      }
    }
  }
}
