.news__about {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  padding-inline: var(--wrapper-space-articles);

  h1 {
    font-size: var(--f-xlarge);
  }

  p {
    font-size: var(--f-medium);
  }

  h2 {
    font-size: var(--f-large);
    font-weight: var(--w-medium);
  }
}
